fastapi
uvicorn
sqlalchemy
python-dotenv
python-multipart
sendgrid
python-jose
pytz
python-pptx
langchain
langchain-google-genai
google-generativeai
langgraph
langchain-community
pypdf
pydantic
typing-extensions
pymysql
passlib
torch
transformers
docx2txt
langchain_groq
langchain_chroma
langchain_huggingface
pytest
